<footer>
  <div class="container pt-4">
    <div class="row text-center">

      <div class="col-md-4 mb-3">
        <h5 class="f1-color">Fórmula 1</h5>
        <p>Velocidad, adrenalina y precisión.</p>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="barca-color">FC Barcelona</h5>
        <p>Pasión blaugrana y orgullo.</p>
      </div>

      <div class="col-md-4 mb-3" style="font-weight: bold;">
        <p>Esta web la ha hecho el Grupo Proyecto 2</p>
      </div>

    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Grupo Proyecto 2
  </div>
</footer>
