<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Portfolio</h3>
            <p>Esta sección reúne a los protagonistas que definen la esencia de <strong>Motor Blaugrana:</strong> deportistas que representan la velocidad de la Fórmula 1 y la pasión del FC Barcelona.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4"><!--Primera card-->

            <div class="card" style="width: 18rem">
                <img src="/website/assets/img/lamine.jpeg" class="card-img-top" object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Lamine Yamal</h5>
                    <p class="card-text">Una de las mayores promesas del fútbol mundial. Con solo 18 años, ya es titular
                        en el FC Barcelona y en la selección española, destacando por su talento precoz, madurez y
                        capacidad para marcar diferencias en partidos grandes.</p>
                    <a href="#" class="btn btn-primary btn-card">Saber mas</a>
                </div>
            </div>
        </div>

        <div class="col-4"><!--Segunda card-->

            <div class="card" style="width: 18rem">
                <img src="/website/assets/img/hamilton.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Lewis Hamilton</h5>
                    <p class="card-text">Uno de los pilotos más exitosos de la historia de la Fórmula
                        1, con 7 títulos mundiales y más de 100 victorias. Actualmente corre para Ferrari, tras una
                        larga y legendaria etapa en Mercedes.</p>
                    <a href="#" class="btn btn-primary btn-card">Saber mas</a>
                </div>
            </div>
        </div>

        <div class="col-4"><!--Tercera card-->

            <div class="card" style="width: 18rem">
                <img src="/website/assets/img/sport.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">¡Curiosidades!</h5>
                    <p class="card-text">La velocidad y el fútbol tienen más en común de lo que imaginas. En esta
                        sección, exploramos los datos más sorprendentes, las anécdotas más insólitas
                        y los momentos menos conocidos de dos universos que despiertan pasiones: la F1 y el FC
                        Barcelona.
                    </p>
                    <a href="#" class="btn btn-primary btn-card">Saber mas</a>
                </div>
            </div>
        </div>
    </div>
</div>