
 <div class="bg-fusion">
    <div class="fusion-banner">
      <div class="icon-fusion">
        <img src="https://www.shutterstock.com/image-vector/barcelona-fc-cup-icon-logo-600nw-2267672941.jpg" alt="FC Barcelona escudo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/F1.svg" alt="Formula 1 logo">
      </div>
      <div class="fusion-text">
        <span class="main-title">Motor Blaugrana</span>
      </div>
      <div class="fusion-text">
        <span class="sub-title">Pura pasión culé y velocidad de Gran Premio</span>
      </div>
    </div>
  </div>